<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">

<head>
    {{ partial "head.html" . }}

</head>
<body class="td-{{ .Kind }} td-topic">
{{ partial "required-gtm-no-script.html" . }}
<header>
    {{ partial "navbar.html" . }}
</header>
<div class="container-fluid td-outer">

    <div class="td-main ">
        <div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
            <div class='container'>
                {{ .Render "content" }}
            </div>
        </div>

        <br/>
        {{ $gettingStartedGuides := where (where .Site.RegularPages "Section" .Section) "Params.type" "getting-started-guides" }}
        {{ if gt (len $gettingStartedGuides) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='flex align-items-center icon-title mb-4'> <clr-icon shape="power" size="32" class="icon mb-3 mr-3" style="fill: #49afd9"/></clr-icon><h3 class="mb-0">Getting Started</h3></div>
            <div class='col px-lg-0'><div class='row'>
                {{ range $gettingStartedGuides }}
                <div class="col-lg-4 col-12 px-lg-3 mb-5 mb-lg-5 mb-lg-0">
                    <a class="linked-box border bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                        <h4 class="mt-2">{{ .Title }}</h4>
                        <p>{{ .Description }}</p>
                        <p class='link'>Read more</p>
                    </a>
                </div>
                {{ end }}
            </div></div>
            {{ end }}
        </div>



        {{ $guides := where (where .Site.RegularPages "Section" .Section) "Params.type" "guides" }}
        {{ if gt (len $guides) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='flex align-items-center icon-title mb-4'><img class="icon mb-3 mr-3" src='{{ "/images/icons/icon-guides.svg" | relURL }}'/><h3 class="mb-0">Guides</h3></div>
            <div class='col px-lg-0'><div class='row'>
                {{ range $guides }}
                <div class="col-lg-4 col-12 px-lg-3 mb-5 mb-lg-5 mb-lg-0">
                    <a class="linked-box border bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                        <h4 class="mt-2">{{ .Title }}</h4>
                        <p>{{ .Description }}</p>
                        <p class='link'>Read more</p>
                    </a>
                </div>
                {{ end }}
            </div></div>
            {{ end }}
        </div>

        {{ $examples := where (where .Site.RegularPages "Section" .Section) "Params.type" "examples" }}
        {{ if gt (len $examples) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='flex align-items-center icon-title mb-4'><img class="icon mb-3 mr-3" src='{{ "/images/icons/icon-examples.svg" | relURL }}'/><h3 class="mb-0">Examples</h3></div>
            <div class="col px-lg-0"><div class='row'>
                {{ range $examples }}
                <div class="col-lg-4 col-12 px-lg-3 mb-5 mb-lg-5 mb-lg-0">
                    <a class="linked-box border bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                        <h4 class="mt-2">{{ .Title }}</h4>
                        <p>{{ .Description }}</p>
                        <p class='link'>Read more</p>
                    </a>
                </div>
                {{ end }}
            </div></div>
        </div>
        {{ end }}
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}

</body>
</html>

