{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $shouldDelayActive := ge (len .Site.Pages) 2000 }}



<div id="td-sidebar-menu" class="td-sidebar__inner{{ if $shouldDelayActive }} d-none{{ end }}">
    <nav class="collapse td-sidebar-nav pt-2" id="td-section-nav">

        <ul class="d-none d-md-block col-md td-toc d-print-none">
            <li>
                <a  href="/{{ .Section | urlize}}" ><clr-icon shape="caret left" size="16" title="Go back to Topic Landing Page" class="td-sidebar-back-to-topic-icon" ></clr-icon>{{$.Parent.Params.Title}}</a>
            </li>
        <ul>


        <div class="d-none d-md-block col-md td-toc d-print-none">
             <div class="toc-guide-title">
                {{ .Title }}
            </div>
        {{partial "toc.html" . }}
        </div>

  </nav>
</div>


