<div class="topic col-lg-2 d-none d-lg-block px-0">
    <p><a id="rss" class="td-box--gray-dark py-2 px-3 mb-4 text-left" href='{{ "blog/index.xml" | relURL }}'><i class="fas fa-rss mr-1"></i>RSS</a></p>
</div>
<div class='d-flex container flex-wrap'>
    {{ $pages := ((where .Site.Pages "Section" .Section).ByLastmod.Reverse) }}
    {{ $parent := .Page }}
    {{ if $parent.Params.no_list }}
    {{/* If no_list is true we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
       <div class="section-index flex-1">
           <div class="row">
            {{ range $pages }}
               {{ if eq .Parent $parent }}
               <div class="filter-item flex-305 mr-0 mr-lg-3 mb-3 {{ range .Params.tags }}{{ . | lower | urlize }} {{ end }} ">
                   <a class="linked-box td-box--gray-dark px-4 py-2" href="{{ .RelPermalink }}">
                       <h2 class="h4 link mt-3 pt-0">{{- .Title -}}</h2>
                       <p class="fs-90">{{ .Description | markdownify}}</p>
                   </a>
               </div>
               {{ end }}
            {{ end }}
            </div>
        </div>

    {{ end }}
</div>
