{{ $links := .Site.Params.links }}
<footer class="td-box--gray-dark py-5 pb-3 d-print-none footer-component">
  <div class="container-fluid px-3 px-lg-0">
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 col-lg-8 pl-0">
        <a class="gemfire-footer-link h4 text-white" href="https://www.vmware.com/products/gemfire.html"><img alt="VMware GemFire" class="icon mr-2" src='{{ "images/icons/icon-gemfire.svg" | relURL }}'/> VMware GemFire</a>
        <div class='copyright-legal-links mt-3'>
          {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} VMware, Inc </small>{{ end }}
          {{ with .Site.Params.terms_of_use }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_terms_of_use" }}</a></small>{{ end }}
          {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
          {{ with .Site.Params.california_privacy_rights }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_california_privacy_rights" }}</a></small>{{ end }}
          <small class="ml-1"><a href="javascript:void(0);" class="ot-sdk-show-settings" style="cursor:pointer;">Cookie Settings</a></small>
        </div>
      </div>
    </div>
  </div>
</footer>
