<div class="section-index">
    <!-- Gather topic groups -->
    {{ $topicgroups := (slice) }}
    {{ range (.Site.GetPage "taxonomyTerm" "topicgroups").Pages }}
        {{ $topicgroups = union $topicgroups ( slice .Title )}}
    {{ end }}

    {{ $guides := where .Site.Pages "Section" "tutorials" }}

    {{ $parents := (slice) }}
    {{ range $guides  }}
        {{ $parents = union $parents ( slice .Params.parent )}}
    {{ end }}

    {{ $parents := sort $parents "value" "desc" }}

    {{ range  $parents }}
        <h2>{{ . }}</h2>
        <div class="row mb-5">
            {{ $pages := where $guides ".Params.parent" . }}
            {{ range $pages }}
                    <div class="flex-315 mr-3 mb-3">
                        <a class="linked-box td-box--gray-dark px-4 py-2" href="{{ .RelPermalink }}">
                            <h2 class="link mt-3 h4 pt-0">{{- .Title -}}</h2>
                            <p>{{ .Description | markdownify }}</p>
                        </a>
                    </div>
            {{ end }}
        </div>
    {{ end }}
</div>
