<div class='d-flex container flex-wrap'>

    <div class="section-index flex-1">
        {{ $pages := (where .Site.Pages "Section" .Section).ByDate.Reverse }}
        {{ $parent := .Page }}
        {{ if $parent.Params.no_list }}
        {{/* If no_list is true we don't show a list of subpages */}}
        {{ else if $parent.Params.simple_list }}
        {{/* If simple_list is true we show a bulleted list of subpages */}}
            <ul>
                {{ range $pages }}
                    {{ if eq .Parent $parent }}
                        <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ else }}
        {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
        <h1 class="pb-1">Videos</h1>
        <div class="row">
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    {{ if isset .Params "youtube_id" }}
                        <div class="filter-item flex-315 mr-0 mr-lg-3 mb-lg-3 mb-2 {{ range .Params.tags }}{{ . | lower | urlize }} {{ end }} ">
                            <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                            <div class="h2 fs-p"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
        <h1 class="pb-1 pt-5">Webinars</h1>
        <div class="row">
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    {{ if isset .Params "brighttalk_commid" }}
                        <div class="filter-item flex-315 mr-0 mr-lg-3 mb-lg-3 mb-2 {{ range .Params.tags }}{{ . | lower | urlize }} {{ end }} ">
                            <a href="{{ .RelPermalink }}" ><img src="{{ .Params.brighttalk_thumbnail }}"></a>
                            <div class="h2 fs-p"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>