{{ define "main" }}
<h1 class='d-none'>{{ .Title }} Homepage</h1>

<a id="td-block" class="td-offset-anchor"></a>
<section id="hero" class="td-box td-box--primary position-relative td-box--height-auto overflow-hidden">
	<div class="container row py-5 px-0">
		<div class="col-12 mx-auto col-lg-6">
			<span class="h1 mb-0 ">
				{{ .Params.tagline }}
			</span>
            <p class="h4">{{ .Params.description }}</p>
		</div>
        <div id="gradients" class="col-12 mx-auto col-lg-6 position-relative d-none d-md-block">
            <img id="gradient-one" class="transition-all position-absolute" alt="" src='{{ "images/backgrounds/gradient-one.svg" | relURL }}'>
            <img id="gradient-two" class="transition-all position-absolute" alt="" src='{{ "images/backgrounds/gradient-two.svg" | relURL }}'>
		</div>
	</div>
</section>

<!-- Quick Start -->
<section id="home-quickstart" class="pt-2 pb-2 td-box">
    <div class="w-75 mx-sm-auto">
        <div class="row w-100 m-0 pl-2">
            <div class="d-flex align-items-center icon-title mb-4">
                <img alt="" class="icon mb-0 mr-3" src="images/icons/icon-quickstart.svg" height="40" width="40"/>
                <a class="h2 text-left text-white">Quick Start</a>
            </div>
        </div>
        <div id="quickstart-row-outer" class="row td-box td-box--gradient pt-0 pb-4 justify-content-center position-relative transition-all m-0">
            <div class="col-xl-12 w-100">
                <div id="the-quickstart-row" class="row justify-content-between justify-content-center w-100 td-box blogs-row">
                {{ $quickstarts := where .Site.Pages "Section" "quickstart" }}
                {{ range first 5 $quickstarts }}
                    <div class="text-center">
                        <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-lg-4 px-3 quickstart-card">
                            <img alt="{{ .Params.title }}" class="mb-2" src='{{ printf "%s%s%s" "images/icons/icon-" .Params.icon ".svg" | relURL }}' height="100" width="100">
                        </a>
                    </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Tutorials -->
<section id="home-tutorials" class="pt-2 pb-2 td-box">
    <div class="w-75 mx-sm-auto">
        <div class="d-flex justify-content-between w-100 m-0 pl-3">
            <div class="d-flex align-items-center icon-title mb-4">
                <img alt="" class="icon mb-0 mr-3" src="images/icons/icon-guides.svg" height="50" width="50"/>
                <a class="h2 text-left text-white">Tutorials</a>
            </div>
            <a class="h3 mr-4" href="{{ "tutorials" | relURL }}" class="h2">See all</a>
        </div>
        <div id="tutorials-row-outer" class="row td-box td-box--gradient td-box--height-auto pt-0 pb-4 justify-content-center position-relative transition-all m-0">
            <div class="row justify-content-center transition-all w-100">
                <div class="col-xl-12 mb-xl-0 mb-lg-4 mb-2">
                    <div id="{{ lower (replace . " " "-")}}-row" class="row justify-content-between w-100 td-box tutorials-row">
                    {{ range first 3 (where .Site.RegularPages "Section" "tutorials") }}
                            <div class="td-box--gray-850 flex-315 mb-lg-0 mb-3">
                                <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
                                    <img alt="" class="mb-2" src='{{ printf "%s%s%s" "images/icons/icon-" .Params.icon ".svg" | relURL }}' height="65" width="65">
                                    <h3 class="h4 pt-0 link mt-3 text-white text-center mb-0">
                                        {{ .Params.title | truncate 70 }}
                                    </h3>
                                    <p class="mb-2 mb-lg-4 text-left py-0 px-2" >
                                        {{ .Description | truncate 80 }}
                                    </p>
                                </a>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blogs -->
<section id="home-blogs" class="pt-2 pb-2 td-box">
    <div class="w-75 mx-sm-auto">
        <div class="d-flex justify-content-between w-100 m-0 pl-3">
            <div class="d-flex align-items-center icon-title mb-4">
                <img alt="" class="icon mb-0 mr-3" src="images/icons/icon-blog.svg" height="50" width="50"/>
                <a class="h2 text-left text-white">Blogs</a>
            </div>
            <a class="h3 mr-4" href="{{ "blog" | relURL }}" class="h2">See all</a>
        </div>
        <div id="blogs-row-outer" class="row td-box td-box--gradient td-box--height-auto pt-0 pb-4 justify-content-center position-relative transition-all m-0">
            <div class="col-xl-12 w-100">
                <div id="the-blogs-row" class="row justify-content-between justify-content-center w-100 td-box blogs-row">
                    {{ $blogs := where .Site.RegularPages "Section" "==" "blog"}}
                    {{ range first 3 (sort $blogs ".Params.lastmod" "desc")  }}
                        <div class="topic-card flex-315 td-box td-box--gray-dark mb-lg-0 mb-3">
                            <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
                                <h3 class="h4 pt-0 link mt-3 text-center text-white mb-0">
                                    {{ .Params.title | truncate 70 }}
                                </h3>
                                <p class="mb-2 mb-lg-4 text-left py-0 px-2" >
                                    {{ .Description | truncate 70 }}
                                </p>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Videos -->
<section id="home-videos" class="pt-4 pb-2 td-box">
    <div class="w-75 mx-sm-auto">
        <div class="d-flex justify-content-between w-100 m-0 pl-3">
            <div class="d-flex icon-title mb-4">
                <img alt="" class="icon mb-0 mr-3" src="images/icons/icon-videos.svg" height="50" width="50"/>
                <a class="h2 text-left text-white">Videos</a>
            </div>
            <a class="h3 mr-4" href="{{ "videos" | relURL }}" class="h2">See all</a>
        </div>
        <div id="videoss-row-outer" class="row td-box td-box--gradient td-box--height-auto pt-0 pb-4 justify-content-center position-relative transition-all m-0">
                <div class="col-xl-12 mb-xl-0 mb-lg-4 mb-2">
                    <div id="the-videos-row" class="row justify-content-between justify-content-center w-100 td-box videos-row m-0">
                        {{ $videos := where .Site.RegularPages "Section" "==" "videos"}}
                        {{ range first 3 (sort $videos ".Params.lastmod" "desc")  }}
                        <div class="topic-card flex-315 td-box--gray-850 mb-lg-0 mb-3">
                            <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
                                <h3 class="h4 pt-0 link mt-3 text-center text-white mb-0">
                                    {{ .Params.title | truncate 70 }}
                                </h3>
                                <p class="mb-2 mb-lg-4 text-left py-0 px-2" >
                                    {{ .Description | truncate 70 }}
                                </p>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
        </div>
    </div>
</section>

<!-- Examples -->
<section id="home-examples" class="pt-2 pb-2 td-box">
    <div class="w-75 mx-sm-auto">
        <div class="d-flex justify-content-between w-100 m-0 pl-3">
            <div class="d-flex align-items-center icon-title mb-4">
                <img alt="" class="icon mb-0 mr-3" src="images/icons/icon-code-samples.svg" height="50" width="50"/>
                <a class="h2 text-left text-white">Examples</a>
            </div>
            <a class="h3 mr-4" href="{{ "examples" | relURL }}" class="h2">See all</a>
        </div>
        <div id="examples-row-outer" class="row td-box td-box--gradient justify-content-center td-box--height-auto pt-0 position-relative transition-all m-0">
            <div class="col-xl-12 mb-xl-0 mb-lg-4 mb-2">
                <div id="the-examples-row" class="row justify-content-between justify-content-center w-100 td-box examples-row m-0">
                    {{ $examples := where .Site.RegularPages "Section" "==" "examples"}}
                    {{ range first 3 (sort $examples ".Params.lastmod" "desc")  }}
                    <div class="topic-card flex-315 td-box--gray-dark mb-lg-0 mb-3">
                        <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
                            <h3 class="h4 pt-0 link mt-3 text-center text-white mb-0">
                                {{ .Params.title | truncate 70 }}
                            </h3>
                            <p class="mb-2 mb-lg-4 text-left py-0 px-2" >
                                {{ .Description | truncate 70 }}
                            </p>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<script>sendAmplitudeEventOnLoad('home viewed', {'url path': window.location.pathname});</script>

{{ with .Content }}
{{ . }}
{{ end }}
{{ end }}