{{ define "main" }}
<h1 class='d-none'>{{ .Title }} Homepage</h1>

<a id="td-block" class="td-offset-anchor"></a>
<section id="hero" class="td-box td-box--primary position-relative td-box--height-auto overflow-hidden">
	<div class="container row py-5 px-0">
		<div class="col-12 mx-auto col-lg-6">
			<span class="h1 mb-0 ">
				{{ .Params.tagline }}
			</span>
            <p class="h4">VMware GemFire is an in-memory database. Scale your data services on demand to support high-performance, real-time apps.</p>
<!--            <a href={{ "learn" | relURL }} class="cta-btn-wrapper my-5 overflow-hidden d-flex justify-content-between align-items-center position-relative">-->
<!--                <div class="solid-rect position-absolute"></div>-->
<!--                <div class="cta-btn p-4 m-0 d-inline-block text-uppercase fs-80">Get started with Tanzu</div>-->
<!--                <div class="arrow-box d-inline-block d-flex justify-content-center align-items-center">-->
<!--                    <div class="arrow-right"></div>-->
<!--                </div>-->
<!--            </a>-->
		</div>
        <div id="gradients" class="col-12 mx-auto col-lg-6 position-relative d-none d-md-block">
            <img id="gradient-one" class="transition-all position-absolute" alt="" src='{{ "images/backgrounds/gradient-one.svg" | relURL }}'>
            <img id="gradient-two" class="transition-all position-absolute" alt="" src='{{ "images/backgrounds/gradient-two.svg" | relURL }}'>
		</div>
	</div>
</section>

<!-- Quick Start -->
<a id="td-block" class="td-offset-anchor"></a>
<section id="home-quickstart" class="row mx-0 td-box td-box--quickstart td-box--height-auto pb-0">
    <div class="row justify-content-center w-100">
        <div class="col-sm-12 pb-4 mb-lg-5 mb-3">
            <h2 class="text-center">Quick Start</h2>
        </div>
    </div>
    <div class="row justify-content-center flex-lg-nowrap w-100 mw-100 overflow-hidden px-2 px-lg-0">
        {{ $quickstarts := where .Site.Pages "Section" "quickstart" }}
        {{ range first 5 $quickstarts }}
<!--                <div class="topic-card col-xl-9 col-12 td-box td-box-dark mb-lg-0 mb-3">-->
                    <a href="{{ .RelPermalink }}" class="h-100 d-flex py-4 py-lg-5 px-3">
                        <img alt="" class="mb-2" src='{{ printf "%s%s%s" "images/icons/icon-" .Params.icon ".svg" | relURL }}'>
                        <h3 class="h3 pt-0 link mt-3 text-white mb-0">
                            {{ .Params.grouptitle }}
                        </h3>
<!--                        <p class="mb-2 mb-lg-4 text-left text-center py-0 px-2" >-->
<!--                            {{ .Description }}-->
<!--                        </p>-->
                    </a>
<!--                </div>-->
<!--            </div>-->
            {{ end }}
    </div>
</section>

<!-- Gather topic groups -->
{{ $topicgroups := (slice) }}
    {{ range (.Site.GetPage "taxonomyTerm" "topicgroups").Pages }}
    {{ $topicgroups = union $topicgroups ( slice .Title )}}
{{ end }}

<!-- Tutorials -->
<a id="td-block" class="td-offset-anchor"></a>
<section id="home-topics" class="td-box">
    <div class="row justify-content-center w-100">
        <div class="col-sm-12 pb-4 mb-lg-5 mb-3">
            <h2 class="text-center">Tutorials</h2>
        </div>
    </div>
    <div id="topics-row-outer" class="row td-box td-box--gradient td-box--height-auto pt-0 position-relative transition-all">
        {{ range first 1 $topicgroups }}
        <div class="row mb-5 justify-content-center transition-all">
<!--            <div class="col-xl-3 col-12 d-flex d-xl-block justify-content-center mb-xl-0 mb-4">-->
<!--                <h2>{{ . }}</h2>-->
<!--            </div>-->
            <div class="col-xl-9 col-12 mb-xl-0 mb-lg-4 mb-2">
                <div id="{{ lower (replace . " " "-")}}-row" class="row justify-content-between w-100 td-box topics-row">
                    {{ range first 3 (where (($.Site.GetPage "taxonomyTerm" "guides").Pages) ".Params.topicgroups" .) }}
                        <div class="topic-card flex-315 td-box td-box-dark mb-lg-0 mb-3">
                            <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
                                <img alt="" class="mb-2" src='{{ printf "%s%s%s" "images/icons/icon-" .Params.icon ".svg" | relURL }}'>
                                <h3 class="h3 pt-0 link mt-3 text-white mb-0">
                                    {{ .Params.grouptitle | truncate 70 }}
                                </h3>
                                <p class="mb-2 mb-lg-4 text-left text-center py-0 px-2" >
                                    {{ .Description | truncate 70 }}
                                </p>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ $blogs := (slice) }}
{{ range (.Site.GetPage "taxonomyTerm" "blog").Pages }}
    {{ $blogs = union $blogs ( slice . )}}
{{ end }}

<!-- Blogs -->
<a id="td-block-blogs" class="td-offset-anchor"></a>
<section id="home-blogs" class="td-box--gray-dark">
    <div class="row justify-content-center w-100">
        <div class="col-sm-12 pb-4 mb-lg-5 mb-3">
            <h2 class="text-center">Blogs</h2>
        </div>
    </div>
    <div id="blogs-row-outer" class="row td-box--gray-dark td-box--gradient td-box--height-auto pt-0 position-relative transition-all">
        <div class="row mb-5 justify-content-center transition-all">
            <div class="col-xl-9 col-12 mb-xl-0 mb-lg-4 mb-2">
                <div id="the-blogs-row" class="row justify-content-between w-100 td-box topics-row">
                    {{ range first 3 $blogs }}
                        <div class="topic-card flex-315 td-box td-box--gray-850 mb-lg-0 mb-3">
                            <a href="{{ .RelPermalink }}" class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
                                <h3 class="h3 pt-0 link mt-3 text-white mb-0">
                                    {{ .Params.grouptitle | truncate 70 }}
                                </h3>
                                <p class="mb-2 mb-lg-4 text-left text-center py-0 px-2" >
                                    {{ .Description | truncate 70 }}
                                </p>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Featured Learning Paths -->
<!--<a id="td-block" class="td-offset-anchor"></a>-->
<!--<section id="featured-paths" class="row mx-0 td-box td-box&#45;&#45;gray-dark td-box&#45;&#45;gradient td-box&#45;&#45;height-auto pb-0">-->
<!--	-->
<!--    <div class="row justify-content-center w-100">-->
<!--        <div class="col-sm-12 pb-4 mb-lg-5 mb-3">-->
<!--            <h2 class="text-center">Featured Learning Paths</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row justify-content-center flex-lg-nowrap w-100 mw-100 overflow-hidden px-2 px-lg-0">-->
<!--        {{ $learningpaths := where (where .Site.Pages "Section" "learningpaths") ".Params.featured" true }}-->
<!--        {{ range first 5 $learningpaths }} &lt;!&ndash; TODO: Get featured learning paths &ndash;&gt;-->
<!--            {{ partial "learningpaths-card-home.html" . }}-->
<!--        {{ end }}-->

<!--    </div>-->
<!--</section>-->

<script>sendAmplitudeEventOnLoad('home viewed', {'url path': window.location.pathname});</script>

{{ with .Content }}
{{ . }}
{{ end }}
{{ end }}